.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.banner p {
  color: black;
  font-size: 25px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
