.btn-primary {
  display: inline-block;
  background-color: transparent;
  padding: 16px 75px;
  border-radius: 50px;
  color: white;
  border: 1px solid white;
}

.btn-primary:hover {
  opacity: .5;
}

.btn-secondary {
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 50px;
  color: purple;
}
